<div class="container">
    <div class="row mt-4">
        <div class="col-md-6">
                <p-table [columns]="cols" [value]="vpns" selectionMode="single" [(selection)]="selectedVpn" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10">
                        <ng-template pTemplate="caption">
                            Vpn İstekleri
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td *ngFor="let col of columns">
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary" let-rowData>
                            <div style="text-align:left">
                                <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Ekle"></button>
                            </div>
                        </ng-template>    
                    </p-table>
                    
                    <p-dialog [style]="{'width':'900px'}" id="dialog" header="Vpn Detayları" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [dismissableMask]="true"  >
                        <div class="ui-g ui-fluid" *ngIf="vpn">
                            <div class="ui-g-12">
                                <div class="ui-g-4">
                                    <label for="Kullanici_Adi">Kullanıcı Adı</label>
                                </div>
                                <div class="ui-g-8">
                                    <input pInputText id="Kullanici_Adi" [(ngModel)]="vpn.Kullanici_Adi" [disabled]="disabled" />
                                </div>
                            </div>
                            <div class="ui-g-12">
                                <div class="ui-g-4">
                                    <label for="Request_ID">Request ID</label>
                                </div>
                                <div class="ui-g-8">
                                    <input pInputText id="Request_ID" [(ngModel)]="vpn.Request_ID" [disabled]="disabled" />
                                </div>
                            </div>
                            <div class="ui-g-12">
                                <div class="ui-g-4">
                                    <label for="Baslangic_Tarihi">Başlangıç Tarihi</label>
                                </div>
                                <div class="ui-g-8">
                                    <p-calendar  dataType="string" dateFormat="dd.mm.yy" [(ngModel)]="vpn.Baslangic_Tarihi" [showIcon]="true"></p-calendar>
                                </div>
                            </div>
                            <div class="ui-g-12">
                                <div class="ui-g-4">
                                    <label for="Bitis_Tarihi">Bitiş Tarihi</label>
                                </div>
                                <div class="ui-g-8">
                                        <p-calendar  dataType="string" dateFormat="dd.mm.yy" [(ngModel)]="vpn.Bitis_Tarihi" [showIcon]="true"></p-calendar>
                                </div>
                            </div>
                            <div class="ui-g-12">
                                <div class="ui-g-4">
                                    <label for="Talep_Acan">Talep Açan</label>
                                </div>
                                <div class="ui-g-8">
                                    <input pInputText id="Talep_Acan" [(ngModel)]="vpn.Talep_Acan" [disabled]="disabled"/>
                                </div>
                            </div>
                            <div class="ui-g-12">
                                <div class="ui-g-4">
                                    <label for="Kullanici">Kullanıcı Tipi</label>
                                </div>
                                <div class="ui-g-8">
                                        <p-selectButton [options]="types" [(ngModel)]="vpn.KullaniciType" [disabled]="disabled"></p-selectButton>
                                        <!--<p>Selected Type: <span style="font-weight: bold">{{vpn.KullaniciType}} Kullanıcı</span></p>-->
                                </div>
                            </div>
                            <div class="ui-g-12">
                                <div class="ui-g-4">
                                    <label for="Grup_Adi">Grup Adı</label>
                                </div>
                                <div class="ui-g-8">
                                        <p-pickList [source]="list1" [target]="list2" [showSourceControls]="false" [showTargetControls]="false" [responsive]="true">
                                                <ng-template let-car pTemplate="item">
                                                    <div class="ui-helper-clearfix">
                                                        <img src="assets/showcase/images/demo/car/{{car.brand}}.png" style="display:inline-block;margin:2px 0 2px 2px" width="48">
                                                        <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{car.brand}} - {{car.year}} - {{car.color}}</div>
                                                    </div>
                                                </ng-template>
                                            </p-pickList>
                                    <button styleClass="grupTalepButton" pButton type="button" label="Grup Talebi" class="ui-button-raised ui-button-warning"></button>
                                </div>
                            </div>
                        </div>
                        <p-footer>
                            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                                <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
                                <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
                            </div>
                        </p-footer>
                    </p-dialog>
        </div>
    </div>
</div>

